<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="color:#CB212E;font-weight:bold;font-size:4vmin" [routerLink]="['/RestaurantsComponent']">Zomato</a>
</nav>
<div style="margin-top:5%">
    <img src="../assets/caution.png" style="display: block;margin-left: auto;margin-right:auto; overflow: hidden;">
  </div>
<div class="col-sm-12 text-center" style="margin-top:1%" >
  <h1 style="color:#CB212E">Error Occured Please Check {{errorMessage}}</h1>
</div>
<div style="margin-top:1%">
    <button type="submit" value="Submit" [routerLink]="['/RestaurantsComponent']" class="btn btn-outline-danger" style="display: block;margin-left:auto;margin-right:auto;">Refresh</button>
     
</div>
